<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тылдьыт</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
</head>
<body>
    <h1>ҺАКАЛЫЫ-САХАЛЫЫ-НЬУУЧЧАЛЫЫ ТЫЛДЬЫТ</h1>
    <h2>долганско-якутско-русский словарь</h2>
    <!-- Статистика -->
    <div class="statistics">
        <table>
            <tr>
                <td data-tooltip="Общее количество слов">
                    Тыл аайы {{ total_words }} тыллаак
                    <div class="tooltip">Слов на одном языке</div>
                </td>
                <td data-tooltip="Количество идентичных слов">
                    <span class="bold identical-words">{{ identical_words }}</span> тэӈ тыл
                    <div class="tooltip">Идентичных слов</div>
                </td>
                <td data-tooltip="Количество частично одинаковых слов">
                    <span class="bold partially-different-words">{{ partially_different_words }}</span> кыратык эӈин-эӈин тыл
                    <div class="tooltip">Частично одинаковых слов</div>
                </td>
                <td data-tooltip="Количество различных слов">
                    <span class="bold different-words">{{ different_words }}</span> эӈин-эӈин тыл
                    <div class="tooltip">Различных слов</div>
                </td>
            </tr>
        </table>
    </div>

    <!-- Кнопки для символов -->
    <div class="container">
        <div class="symbols">
            <button type="button" class="symbol-button" onclick="insertSymbol('ӈ')">ӈ</button>
            <button type="button" class="symbol-button" onclick="insertSymbol('ҥ')">ҥ</button>
            <button type="button" class="symbol-button" onclick="insertSymbol('ҕ')">ҕ</button>
            <button type="button" class="symbol-button" onclick="insertSymbol('ө')">ө</button>
            <button type="button" class="symbol-button" onclick="insertSymbol('һ')">һ</button>
            <button type="button" class="symbol-button" onclick="insertSymbol('ү')">ү</button>
        </div>
    </div>

    <!-- Форма поиска -->
    <form method="POST">
        <div class="container">
            <div class="search-container">
                <input type="text" name="search_query" placeholder="Тылгытын һуруйуӈ | Тылгытын суруйуҥ | Введите слово" value="{{ search_query }}">
                <button type="submit">Көрдөөһүн | Поиск</button>
            </div>
        </div>
    </form>

        <!-- Результаты поиска -->
    <div class="results-container">
        {% if search_query and error_message %}
            <div class="error-message">
                {{ error_message }}
            </div>
        {% elif results and results|length > 0 %}
            <div class="container">
                <table>
                    <thead>
                        <tr>
                            <th>Һакалыы</th>
                            <th>Сахалыы</th>
                            <th class="tooltip-container" data-tooltip="Сходство долганских и якутских слов">
                                Һака онно саха тыллар майгыннаһыылара
                                <div class="tooltip">Схожесть долганских и якутских слов</div>
                            </th>
                            <th>Ньууччаллыы</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in results %}
                            <tr>
                                <td>{{ entry['ҺАКАЛЫЫ'] }}
                                    {% if entry['ҺАКАЛЫЫ_ex'] %}
                                        <div class="example">{{ entry['ҺАКАЛЫЫ_ex'] }}</div>
                                    {% endif %}
                                </td>
                                <td>{{ entry['САХАЛЫЫ'] }}
                                    {% if entry['САХАЛЫЫ_ex'] %}
                                        <div class="example">{{ entry['САХАЛЫЫ_ex'] }}</div>
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="progress-wrapper">
                                        <div class="progress-container">
                                            <div class="progress-bar" style="width: {{ entry['SIM'] }}%;"></div>
                                            <span class="progress-text">{{ entry['SIM'] }}%</span>
                                        </div>
                                    </div>
                                </td>
                                <td>{{ entry['НЬУУЧЧАЛЫЫ'] }}
                                    {% if entry['НЬУУЧЧАЛЫЫ_ex'] %}
                                        <div class="example">{{ entry['НЬУУЧЧАЛЫЫ_ex'] }}</div>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% elif search_query %}
            <div class="error-message">
                Эмиэ көрдөөн көр
            </div>
        {% endif %}
    </div>


    <script>
        function insertSymbol(symbol) {
            const searchInput = document.querySelector('input[name="search_query"]');
            if (searchInput) {
                searchInput.value += symbol;
                searchInput.focus();
            }
        }
    </script>
</body>
</html>
